{% extends "layouts/base.html" %}

{% load crispy_forms_tags %}

{% load static %}

{% block content %}

{% include "modals/concentrateur_add_modal.html" %}

<section class="page-section" id="concentrateur_liste">

    <div class="container">
        <div class="text-center">
            <br>
            <h2 class="section-heading text-uppercase">المكثفات</h2>
        </div>

        <button class="button_modal" type="button" class="btn" هd="dropdownMenuButton2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="{% static 'assets/img/icone/choix.png' %}" alt="..." />
                الخيارات
        </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                <a class="dropdown-item" data-column="3">االكهرباء HZ</a>
                <a class="dropdown-item" data-column="5">مستوى الصوت DB</a>
                <a class="dropdown-item" data-column="6">الأبعاد HxLxP</a>
                <a class="dropdown-item" data-column="7">الوزن KG</a>
                <a class="dropdown-item" data-column="8">صمام الإغاثة</a>
                <a class="dropdown-item" data-column="10">ملاحظات أخرى</a>
            </div>

        <button class="button_modal" type="button" class="btn" data-toggle="modal" data-target="#myModalHorizontal" href="">
        <img src="{% static 'assets/img/icone/ajouter.png' %}" alt="..." />
        إضافة مكثف</button>
        <hr class="new">

        <table id="dataTable2" class="table is-striped " cellspacing="0" width="100%">
            <thead style="color:black" >
                <tr>
                    <th>الرقم التسلسلي</th>
                    <th>الحد الأقصى للتدفق</th>
                    <th>ضغط المخرج</th>
                    <th>الكهرباء HZ</th>                        
                    <th>تركيز الأكسجين</th>
                    <th>مستوى الصوت DB</th>
                    <th>الأبعاد HxLxP</th>
                    <th>الوزن KG</th>
                    <th>صمام الإغاثة</th>
		            <th>متوفر</th>
                    <th>ملاحظات أخرى</th>
                </tr>
            </thead>
                    
            <tbody>
                {% for i in concentrateur %}
                    <tr>       
                        <td>{{ i.Reference }}</td>
                        <td>{{ i.Debit }}</td>
                        <td>{{ i.pression }}</td>
                        <td> {{ i.electrique }}</td>
                        <td> {{ i.concentration }}</td>
                        <td> {{ i.sonore }}</td>
                        <td> {{ i.dimensions }}</td>
                        <td> {{ i.poids }}</td>
                        <td> {{ i.soupage }}</td>
                        <td>
                            {% if i.disponible == '1' %}
                                <div class="border-text" style="border-color: rgb(215,0,0);">{{i.get_disponible_display }}</div>
                            {% else %}
                                <div class="border-text" style="border-color: rgb(0,155,0);">{{i.get_disponible_display }}</div>
                            {% endif %}
                        </td>
                        <td> {{ i.autre }}</td>
                    </tr>
                {% endfor %}
                    
            </tbody>
        </table>
    </div>
</section>
{% endblock content %}