{% extends "layouts/base.html" %}

{% load static %}

{% load crispy_forms_tags %}

{% block content %}

{% include "modals/concentrateur_envoie_modal.html" %}

<section class="page-section" id="concentrateur_demande">

    <div class="container">
        <div class="text-center">
            <br>
            <h2 class="section-heading text-uppercase">الطلبات</h2>
        </div>
          
        <div class="center">

            <button class="button_modal" type="button" class="btn" هd="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="{% static 'assets/img/icone/choix.png' %}" alt="..." />
                الخيارات
            </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" data-column="1">الإسم و اللقب</a>
                        <a class="dropdown-item" data-column="2">العمر</a>
                        <a class="dropdown-item" data-column="3">رقم هاتف مرافق المريض</a>
                        <a class="dropdown-item" data-column="4">البلدية</a>
                        <a class="dropdown-item" data-column="5">العنوان</a>
                        <a class="dropdown-item" data-column="6">الوزن</a>
                        <a class="dropdown-item" data-column="8">الوصفة</a>
                        <a class="dropdown-item" data-column="9">مكان تواجد المريض</a>
                        <a class="dropdown-item" data-column="10">هل لدى المريض أمراض مزمنة ؟</a>
                        <a class="dropdown-item" data-column="12">ملاحظات أخرى</a>
                    </div>

            <button class="button_modal" type="button" class="btn" data-toggle="modal" data-target="#myModalHorizontal1" href=""><img src="{% static 'assets/img/icone/donner.png' %}" alt="..." />
            تسليم مكثف</button>

        </div>
        <hr class="new">
        <table id="dataTable1" class="table is-striped" cellspacing="0" width="100%">
            <thead style="color:black" >
                <tr>
                    <th>رقم بطاقة التعريف</th>
                    <th>الإسم و اللقب</th>
                    <th>العمر</th>
                    <th>رقم هاتف مرافق المريض</th>                      
                    <th>البلدية</th>
                    <th>العنوان</th>
                    <th>الوزن</th>
                    <th>نسبة الأكسجين في الدم</th>
                    <th>الوصفة</th>
                    <th>مكان تواجد المريض</th>
            	    <th>هل لدى المريض أمراض مزمنة ؟</th>
            	    <th>تم معالجة الطلب</th>
            	    <th>ملاحظات أخرى</th>
                </tr>
            </thead>
                    
            <tbody>
                {% for i in demande%}
                    <tr>
                        <td>{{ i.NCI }}</td>       
                        <td>{{ i.nomPrenom }}</td>
                        <td>{{ i.Age }}</td>
                        <td>{{ i.numeroTel }}</td>
                        <td> {{ i.get_commune_display }}</td> 
                        <td> {{ i.adresse }}</td>
                        <td> {{ i.poids }}</td>
                        <td> {{ i.get_oxygene_display }}</td>
                        <td> {{ i.get_ordonnance_display }}</td>
                        <td> {{ i.get_endroit_display }}</td>
                        <td> {{ i.get_maladieChronique_display }}</td> 
                        <td>
                            {% if i.traite == '1' %}
                                <div class="border-text" style="border-color: rgb(215,0,0);">{{ i.get_traite_display }}</div>
                            {% else %}
                                <div class="border-text" style="border-color: rgb(0,155,0);">{{ i.get_traite_display }}</div>
                            {% endif %}
                        </td>
                        <td> {{ i.autre }}</td>
                    </tr>
                {% endfor %}

            </tbody>
        </table>
    </div>
</section>
{% endblock content %}
