{% load crispy_forms_tags %}
{% load static %}

<!-- Modal -->
<div class="modal fade" id="myModalHorizontal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="font-size: 0.6em">
    <div class="modal-dialog">
         <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h5 class="modal-title" class="slds-text-heading_medium slds-hyphenate" id="myModalLabel" >
                </h5>
            </div>

            <!-- Modal Body -->
            <div class="modal-body">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">إضافة مكثف</h2>
                </div>
                <br>
                <form method="post" novalidate>
                    {% csrf_token %}                      
                    <div class="peer pX-40 " style="background-color: white">
                        <div class="row text-center">
                            <div class="col-md-6">
                                <div class="form-group ">
                                    {{ form.Reference|as_crispy_field}}
                                </div>
                                <div class="form-group ">
                                    {{ form.Debit|as_crispy_field}}
                                </div>
                                <div class="form-group ">
                                    {{ form.pression|as_crispy_field}}
                                </div>
                                <div class="form-group ">
                                    {{ form.electrique|as_crispy_field }}
                                </div>
                                <div class="form-group ">
                                    {{ form.concentration|as_crispy_field }}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group ">
                                    {{ form.sonore|as_crispy_field }}
                                </div>                                
                                <div class="form-group ">
                                    {{ form.dimensions|as_crispy_field }}
                                </div>
                                <div class="form-group ">
                                    {{ form.poids|as_crispy_field }}
                                </div>                                
                                <div class="form-group ">
                                    {{ form.soupage|as_crispy_field }}
                                </div>                                
                                <div class="form-group ">
                                    {{ form.autre|as_crispy_field }}
                                </div>                                                         
                            </div>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn save button_modal">
                            <img src="{% static 'assets/img/icone/confirmer.png' %}" alt="..." />
                            تأكيد التسجيل</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
