{% extends "accounts/base.html" %}

{% load crispy_forms_tags %}

{% load static %}

{% block content %}
<div class="row">
    <div class="col-md-8 bkg-login">
        <div>
            <img class="pos-a centerXY" src="{% static 'assets/img/logo.png' %}" alt="" style="width:8em;"> 
        </div>
    </div>

    <div class="col-md-4">
        <h3 class="section-heading text-uppercase title-login">
           فوج البدر-بوزريعة
        </h3>

        <form method="post" action="">
            {% csrf_token %}

            <div class="form-group">
                {{ form.username|as_crispy_field }}
            </div>

            <div class="form-group">
                {{ form.password|as_crispy_field }}
            </div>

            <div class="form-group">
                <button type="submit" name="login" class="btn save button_modal">الدخول</button>
            </div>
        </form>
    </div>
</div>
{% endblock content %}
